* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: lightgray;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
  z-index: 5;
  padding: 20px 0px;
  overflow: hidden;
  position: fixed;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;

  /* position: fixed; */


}

.header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* position: fix; */
  background-color: pink;
  width: 100%;
  z-index: 1;
  /* margin-right: 300px; */
  /* padding: 20px; */

}

#eMoney-logo {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  height: 90%;
  max-width: 150%;
  margin-left: 30px;
  /* position: relative; */
  z-index: 2;
  @media (max-width: 900px) {
    flex-wrap: wrap;

  }
}

}

.links {
  display: flex;
  justify-content: center;
  width: 90%;
  /* flex-wrap: wrap; */
  /* background-color: white; */
}

.no-dots {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  width: 600px;
  list-style-type: none;
  text-decoration: none;
  /* background-color: purple; */
  /* position: relative; */
  z-index: 1;
  flex-wrap: wrap;
}



ul li a {
  text-decoration: none;
  font-size: 17px;
  color: blue;
  z-index: 1;
}

.nav-right-hand{
  /* display: flex;
  justify-content: flex-end; */
  padding-left: 700px;

}

.orange-button{
    background-color: orange;

    /*padding: 30px 2px 30px 2px; */
    width: 10%;
    height:10%;
    /* align-items: center; */
    z-index: 5;
    position: relative;
}

input {
  background-color: inherit;
  border: 0px;
  display: flex;
  text-align: right;
  height: 40px;
  /* width: 120px; */
  /* padding-right: 40px; */
  position: relative;
  z-index: 1;
}

#glass {
  /* display: flex; */
}
.search {
  display: block;
  padding:  40px;
  color: white;
  font-weight: bold;
}




.section {
  position: relative;
  z-index: 1;
  height: 700px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  /* background-color: orange; */
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video {
   /* position: absolute;
   width: 100%  !important;
   height: auto  !important; */
   opacity: 0.9;

}

.inner-section {
  /* display: flex; */
  justify-content: center;
  /* position: relative; */
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 400px;
  z-index: 1;
  /* margin-top: -60px; */
  width: 900px;
  top: 0px;
  height: 200px;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-left: 250px;
  /* background-color: purple; */

}

.inner-section > p {
  /* display: flex;
  flex-direction: row; */
  /* position: relative; */
  z-index: 1;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: 40px;
  /* height: 400px; */
  /* background: #ffff; */

  /* padding-left: 140px; */
  /* margin: 100px; */
  /* height: 509px; */
  /* background-color: silver; */
}

/* span {
display: flex;
line-height: 200px;
margin-left: 30px;

} */

a {
  text-decoration: none;
  color: white;
}

.group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: row;
  margin: auto;
   /* justify-content: flex-end;
   align-items: center;  */
   margin-top: 50px;
  margin-right: 30px;
  flex-wrap: wrap; */
 line-height: 200px;
  /* background-color: teal; */
z-index: 1;

}
#see-how {
  margin-top: 20px;
  font-size: 30px;
  border-radius: 2px;

  background-color: blue;
}
.btn-blue {

 /* padding-top: 20px; */
 background-color: blue;

 /* font-size: 20px; */
 /* color: white; */
 /* padding: 10px 4px; */
 /* text-align: center; */
 text-decoration: none;
 flex-wrap: wrap;
 z-index: 0;


}

#learn-more {
  margin-top: 20px;
  font-size: 30px;
  border-radius: 2px;
}

.btn-clear {
   padding-top: 20px;
   background-color: inherit;
  border: 10px;
  border-color: white;
  border-width: 2px;
  border-style: solid; */
  /* color: white; */
  /* margin-left: 2px;
  padding: 10px 4px; */

  /* text-align: center; */
  text-decoration: none;
  flex-wrap: wrap;
  z-index: 5;

}



/* button {
  BORDER: 1px solid;
  COLOR: black;
  height: 30px;
  width: 30px;
  cursor: pointer;
} */

.page2 {
  margin-top: 107px;
  /* display: flex;
  justify-content: center; */
}

.background2 {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: -108px;
  margin-bottom: auto;



}

.container {
  /* display: flex;
  align-self: center; */
  /* background-color: green; */
  height: 600px;
}

.top-texts {
  display: block;
  justify-content: center;
  margin-bottom: 20px;

  /* background-color: pink; */
  height: 90px;
}

.sentence1 {
  color: blue;
  font-size: 50px;
  text-align: center;

  /* background-color: silver; */
}

.sentence2{
  font-size: 20px;
  text-align:center;
  margin: 0 auto;

}

.boxes {
  display: flex;
  flex-direction: row;
  /* margin: 250px; */
  /* margin-top: 100px; */
  margin-left: 190px;
  /* margin-right: 90px; */
  /* padding-top: 50px; */
  height: 70%;

  /* background-color: teal; */

}

.img_advisor {
  padding-left: 25px;
}
.box1 {
  border: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;

/* background-color: purple; */
}

.btn blue {
  display: block;
  /* padding-top: 20px; */
  background-color: blue;
  color: white;
  padding: 10px 4px;
  text-decoration: none;
  flex-wrap: wrap;
  z-index: 1;

}

.box2 {
  border: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
border-right: -40px;
  /* background-color: blue; */

}

.box2-txt {
font-size: 20px;

}


.background3 {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: -54px;
  margin-bottom: auto;


}
